<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>
    <h1>Add a New Book</h1>
    <form method="POST">
        ISBN: <input type="text" name="isbn" required><br>
        Title: <input type="text" name="title" required><br>
        Year: <input type="text" name="year" required><br>
        Price: <input type="text" name="price" required><br>
        Page: <input type="text" name="page" required><br>
        Category: <input type="text" name="category" required><br>
        Cover Photo: <input type="text" name="coverPhoto" required><br>
        Publisher Name: <input type="text" name="publisher_name" required><br>
        Publisher Year: <input type="text" name="publisher_year" required><br>
        Author Name: <input type="text" name="author_name" required><br>
        Author DOB: <input type="text" name="author_dob" required><br>
        <input type="submit" value="Add Book">
    </form>
</body>
</html>
